<div class="card-home">
    <h2>{{houseName}}</h2>
    <div class="cta-container"><a href="/house/{{_id}}/details" class="details-link">Details</a></div>
    <div class="card_image"><img src="{{homeImg}}"></div>

</div>